body {
	background: url("img/space_1.jpg") no-repeat center top / cover;
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	text-align: center;
}

footer {
	position: absolute;
	bottom: 0;
	bottom: 15px;
	width: 100%;
	font-size: 30px;
	color: #ffffff;
	text-align: center;
}

.version {
	color: #ffffff;
	margin-top: 0.5%;
}

.mainlogo {
	margin: 0 auto;
	margin-top: 80px;
	height: 65px;
	width: 30%;
	background-image: url("img/grid.jpeg");
	background-size: cover;
	color: #a02441;
	font-size: 55px;
	text-shadow: -2px -2px #ffffff, 2px -2px #ffffff, -2px 2px #616161, 2px 2px #616161;
	box-shadow: inset 0 0 2px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -7px 0 rgba(0,0,0,.6), inset 0 15px 0 rgba(255,255,255,.3);
	border-radius: 5px;
}

.mainmenu {
	margin: 10px auto;
}

.menu {
	margin: -1px;
	width: 15%;
	background: #3e3e63;
	display: inline-block;
}

.menu a {
	transition: .5s linear;
	text-decoration: none;
	text-transform: uppercase;
	box-shadow: inset 0 0 2px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -7px 0 rgba(0,0,0,.6), inset 0 15px 0 rgba(255,255,255,.3);
	display: block;
	padding: 1em;
	border-left: 2px solid #e0f7fa;
	border-right: 2px solid #e0f7fa;
	background: rgba(173, 192, 206, .3);
	color: #fff;
}

.menu a:hover {
	background: #80deea;
	color: #00838f;
}

.CenterBar {
	color: #ffffff;
	font-size: 20px;
}

.Software {
	float: right;
	margin-right: 10px;
	color: #ffffff;
}
