body {
	background: url("img/space_1.jpg") no-repeat center top / cover;
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	text-align: center;
}

footer {
	position: absolute;
	bottom: 0;
	bottom: 15px;
	width: 100%;
	font-size: 30px;
	color: #fff;
	text-align: center;
}

.version {
	color: #fff;
	margin-top: 0.5%;
}

.mainlogo {
	margin: 0 auto;
	margin-top: 80px;
	height: 65px;
	width: 30%;
	background-image: url("img/grid.jpeg");
	background-size: cover;
	color: #a02441;
	font-size: 55px;
	text-shadow: -1px -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff;
	box-shadow: inset 0 5px 2px rgba(255,255,255,.6), inset 0 -5px 2px rgba(0,0,0,.6), inset 0 -10px 1px rgba(0,0,0,.3), inset 0 10px 1px rgba(255,255,255,.3);
}

.mainmenu {
	margin: 10px auto;
}

.menu {
	display: inline-block;
	width: 7.3%;
}

.menu a {
	display: block;
	padding: 1em;
	text-decoration: none;
	text-transform: uppercase;
	transition: .5s linear;
	box-shadow: inset 0 5px 2px rgba(255,255,255,.6), inset 0 -5px 2px rgba(0,0,0,.6), inset 0 -10px 1px rgba(0,0,0,.3), inset 0 10px 1px rgba(255,255,255,.3);
	background: #373760;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
	color: #fff;
}

.menu a:hover {
	color: #00838f;
	background: #80deea;
}

.CenterBar {
	color: #fff;
	font-size: 20px;
}

.RendersBlock {
	height: 0px;
	overflow: scroll;
	position: absolute;
	width: 75vw;
	left: 0;
	right: 0;
	margin: 0 auto;
	color: #ffba66;
	padding: 1%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.OneRender img {
	border-radius: 15px;
	box-shadow: 4px 4px 4px #4D311b92;
	margin-top: 1vh;
	margin-bottom: 5vh;
}

.OneRender img:hover {
	box-shadow: 5px 5px 5px #311b92;
}
