body {
	background: url("img/cosmic stars.jpg") no-repeat center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	text-align: center;
}

footer {
	position: absolute;
	bottom: 0.2vw;
	width: 100%;
	font-size: 30px;
	color: #fff;
	text-align: center;
}
.topbar {
	display: inline-block;
	width: 100%;
	height: 80px;
	top: 50%;
	background: url("img/dark-background-40.jpg") no-repeat center bottom;
	background-attachment: fixed;
	background-size: cover;
	box-shadow: inset 0 -6px 10px rgba(0, 0, 0, 1);
}

.logobar {
	float: left;
	margin-top: 5px;
	padding-left: 20%;
	
}

#particles-js {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#page-wrapper {
	position: relative;
}

.mainversion {
	color: #fff;
	margin-top: 0.5%;
}

.topversion {
	color: #fff;
	float: right;
	margin-top: 30px;
	padding-right: 20%;
	
}

.mainlogo {
	margin: 0 auto;
	margin-top: 80px;
	height: 65px;
	width: 30%;
	background-image: url("img/grid.jpeg");
	background-size: cover;
	color: #a02441;
	font-size: 55px;
	text-shadow: -1px -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff;
	box-shadow: inset 0 5px 2px rgba(255, 255, 255, .6), inset 0 -5px 2px rgba(0, 0, 0, .6), inset 0 -10px 1px rgba(0, 0, 0, .3), inset 0 10px 1px rgba(255, 255, 255, .3);
}

.mainmenu {
	margin: 5px auto;
	
}

.topmainmenu {
	margin: 13px auto;
	
}

.menu {
	display: inline-block;
	width: 7.3%;
}

.menu a {
	display: block;
	padding: 1em;
	text-decoration: none;
	text-transform: uppercase;
	transition: .4s linear;
	box-shadow: inset 0 5px 4px rgba(255, 255, 255, .6), inset 0 -5px 4px rgba(0, 0, 0, .6), inset 0 -10px 7px rgba(0, 0, 0, .3), inset 0 10px 7px rgba(255, 255, 255, .3);
	background: #373760;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
	color: #fff;
}

.menu a:hover {
	color: #00838f;
	background: #80deea;
}

.CenterBar {
	color: #fff;
	font-size: 20px;
}

.RendersBlock {
	scrollbar-width: none;
	overflow: auto;
	height: 100%;
	width: 75vw;
	left: 0;
	right: 0;
	margin: auto;
	color: #fff;
	padding: 1%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.RendersBlock::-webkit-scrollbar
{
	width: 0;
	height: 0;
}

.OneRender img {
	border-radius: 15px;
	box-shadow: 2px 2px rgba(255, 255, 255, .75), -2px -2px rgba(255, 255, 255, .75), 2px -2px rgba(255, 255, 255, .75), -2px 2px rgba(255, 255, 255, .75);
	margin-top: 1vh;
	margin-bottom: 4vh;
	transition: .1s linear;
}

.OneRender img:hover {
	box-shadow: 5px 5px 15px rgba(28, 18, 209, 0.3), -5px -5px 15px rgba(28, 18, 209, 0.3), 5px -5px 15px rgba(28, 18, 209, 0.3), -5px 5px 15px rgba(28, 18, 209, 0.3);
}
